/* COLOR PALETTE
https://coolors.co/000000-fffffc-beb7a4-8d5b4c-387780
Kakhi web - #BEB7A4
Baby powder - #FFFFFC
Russian Violet - #231942
Redwood - #8D5B4C
Ming - #387780 */


/* Global styles
--------------------------*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    color: #231942;
    margin: 0;
    padding: 0;
    font-family: 'Solitreo', cursive, sans-serif;
    font-size: 15px;
    font-weight: 1.5;
}
img {
    width: 300px;
}
a {
    color: #FFFFFC;
}
a:hover {
    text-decoration: none;
}
h1 {
    margin: 0;
    font-size: 100px;
    line-height: 1;
}
h2 {
    font-size: 45px;
}
h1, h2 {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    margin: 0;
}
.content-wrap {
    max-width: 900px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}
h3{
    margin-bottom: 0;
}
.item-details h3 ~ p {
    margin: 0;
}
.item-details h3 + p {
    font-style: italic;
}
.divider > section {
    border-bottom: 2px dashed #231942;
    padding: 20px 0;
}
.divider > section:last-of-type {
    border-bottom: none;
}



/* Profile
--------------------------*/
header {
    background: #8D5B4C;
    color: #FFFFFC;
    text-align: center;
}

/* Projects
--------------------------*/
.projects {
    background: #387780;
    color: #FFFFFC;
}
.projects a{
    color: #231942;
}
.projects .btn {
    color: #FFFFFC;
    background: #231942;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.projects .btn:hover {
    background: rgba(35,25,66, 80%);
}
.project-item {
    overflow: hidden;
}
.project-item img {
    float: left;
    margin-right: 20px;
}
.project-item h3 {
    margin-top: 0;
}

/* Work experience
--------------------------*/
.work-experience {
    background: #FFFFFC;
}
.job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
}

/* Education
--------------------------*/
.education {
    background-image: url(../images/philip-oroni-ENWfenQbKXc-unsplash.jpg);
    background-size: cover;
    background-position: top right;
    padding-bottom: 100px;
}
.education p {
    width: 60%;
}

/* Contact info
--------------------------*/
footer {
    background: #8D5B4C;
    color: #FFFFFC;
    text-align: center;
}
.contact-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
.contact-list a {
    padding: 15px;
    display: inline-block;
}